<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h3 th:unless="${#request.remoteUser}">
			<i style="color: red">Chưa đăng nhập</i>
		</h3>
		<th:block th:if="${#request.remoteUser}">
			<h3 style="color: blue">Authentication Info</h3>
			<ul>
				<li>Username: [[${#request.remoteUser}]]</li>
				<li>Is Admin: [[${#request.isUserInRole('ADMIN')}]]</li>
			</ul>
			<ul th:object="${#request.userPrincipal}">
				<li>Username: [[*{name}]]</li>
				<li>Roles: [[*{authorities}]]</li>
			</ul>
		</th:block>
	</main>
</body>
</html>